/* Player.css */

.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    cursor: pointer;
    z-index: 10;
}

.player iframe {
    border-radius: 10px;
    max-width: 100%;
    width: 90%;
    height: 50vh; /* Use viewport height for responsiveness */
    max-height: 90%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
    text-align: left;
    color: #fff;
}

.player-info p {
    margin: 5px 0;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
    .player iframe {
        height: 60vh;
    }
}

@media (min-width: 900px) {
    .player iframe {
        height: 70vh;
    }
}
